/*------------------------
 * Web Fonts 정의 
 */
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@font-face { font-family: 'NanumBarunpen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff'); font-weight: normal; font-style: normal; }
/*-------------------------
 * 초기화 CSS 
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/*-------------------------
html {
	
}
*/
body {
	margin: 0;
}
ul {
	list-style: none;
}
a:link, a:visited {
	text-decoration: none;
	color: #000;
}


/*-------------------------
 * 기타 초기화 
 */


