.header {
	background: #fff;
}
/*******************************************
 * visual
 */

.visual1 {
  height: 25vh;
  position: relative;
  background: #fff;
}
.visual1 > h2 {
  font-size: 80px;
  color: #ccc;
  position: absolute;
  bottom: 350px;
  right: 5%;
  font-family: "Rock Salt";
}
.visual1 > h2 > span {
  position: relative;
}
@keyframes visani {
  0%{ bottom: 0px; opacity: 0;}  
  100%{ bottom: -350px; opacity: 1;}  
}
.visual1 > h2 > span:nth-child(1) {
	animation: visani 0.5s 0.0s  linear forwards;	
}
.visual1 > h2 > span:nth-child(2) {
    animation: visani 0.5s 0.01s  linear forwards;	
}
.visual1 > h2 > span:nth-child(3) {
    animation: visani 0.5s 0.05s  linear forwards;	
}
.visual1 > h2 > span:nth-child(4) {
    animation: visani 0.5s 0.1s  linear forwards;	
}
.visual1 > h2 > span:nth-child(5) {
    animation: visani 0.5s 0.15s linear forwards;	
}
.visual1 > h2 > span:nth-child(6) {
    animation: visani 0.5s 0.2s linear forwards;	
}
.visual1 > h2 > span:nth-child(7) {
    animation: visani 0.5s 0.25s linear forwards;	
}
.visual1 > h2 > span:nth-child(8) {
    animation: visani 0.5s 0.3s linear forwards;	
}
.visual1 > h2 > span:nth-child(9) {
    animation: visani 0.5s 0.35s linear forwards;	
}
.visual1 > h2 > span:nth-child(10) {
    animation: visani 0.5s 0.4s linear forwards;	
}
.visual1 > h2 > span:nth-child(11) {
    animation: visani 0.5s 0.45s linear forwards;	
}
.visual1 > h2 > span:nth-child(12) {
    animation: visani 0.5s 0.5s linear forwards;	
}
.visual2{
	width: 100%;
	height: 60vh;
	background: url("../images/visual.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

/*******************************************
 * contents1
 */
.contents1-wrap {
	background: #fff;
	padding: 180px 0px;
	margin: 0 auto;
}
.contents1 {
	overflow: hidden;
	width: 940px;
	margin: 0 auto;
}

.contents1 > .image  {
	width: 220px;
	height: 220px;
	float: left;
	margin: 7px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
/*스크롤*/
.image {
	opacity: 0;
	transform: translateY(150px);
	transition: opacity 2s, transform 2s;
}
.image-action {
	opacity: 0.9;
	transform: translateY(0px);
}
/****/
.contents1 > div:nth-child(1){
	background-image: url("../images/contents1/content1-1.jpg");
	transition-delay: 0.2s;
}
.contents1 > div:nth-child(3) {
	background-image: url("../images/contents1/content1-3.jpg");
	transition-delay: 0.1s;
}
.contents1 > div:nth-child(4) {
	background-image: url("../images/contents1/content1-4.jpg");
	transition-delay: 0.2s;
}
.contents1 > div:nth-child(5) {
	background-image: url("../images/contents1/content1-5.jpg");
	transition-delay: 0.4s;
}
.contents1 > div:nth-child(6) {
	background-image: url("../images/contents1/content1-6.jpg");
	transition-delay: 0.6s;
}
.contents1 > div:nth-child(7) {
	background-image: url("../images/contents1/content1-7.jpg");
	transition-delay: 0.5s;
}
.contents1 > div:nth-child(10) {
	background-image: url("../images/contents1/content1-2.jpg");
	transition-delay: 0.6s;
}
.contents1 > div:nth-child(12) {
	background-image: url("../images/contents1/content1-8.jpg");
	transition-delay: 0.7s;
}
/*******************************************
 * contents2
 */
.contents2 {
	position: relative;
	height: 600px;
	overflow: hidden;
}
.contents2 > img {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
}
.contents2 > img:nth-child(2) {
	display: none;
}
.contents21 {
	width: 400px;
	height: 300px;
	background: #222;
	position: absolute;
	top: calc(50% - 150px);
	right: -10px;
	padding: 100px 40px 0px;
	opacity: 0;
	transition: right 2s, opacity 2.5s;
}
.contents21-action {
	opacity: 1;
	right: 15%;
}
.contents21 > h3 {
	position: absolute;
	top: 5px;
	left: -10%;
	font-size: 40px;
	font-family: "Rock Salt";
	color: #fff;
}
.contents21 > p {
	color: #fff;
	font-size: 25px;
	font-family: "East Sea Dokdo";
}
.contents21 > a {
	width: 110px;
	height: 46px;
	position: absolute;
	bottom: -23px;
	right: 40px;
	background: #fff;
	border: none;
	font-size: 19px;
	font-family: "Rock Salt";
	text-align: center;
	transition: all 0.5;
}
.contents21:hover > a {
 	animation: con2ani 0.7s infinite alternate linear;	
}
.contents21 > a:hover {
	box-shadow: 0px 0px 8px #fff;
}
@keyframes con2ani {
  0%{ transform: scale(1);}  
  100%{ transform: scale(1.08);}  
}
/*******************************************
 * contents3
 */
.contents3-wrap {
	background: #fff;
	overflow: hidden;
	padding-bottom: 100px;
} 
.contents3 {
	width: 1200px;
	margin: 0 auto;
	margin-top: 150px;
}
.contents3-motion {
	transform: translateX(-500%) rotateY(540deg);
	transition: transform 2s;
	width: 200px;
	height: 550px;
	float: left;
	perspective: 500px;
	margin-right: 46px;
	opacity: 0.75;
}
.contents3-motion-action {
	transform: translateX(0%) rotateY(0deg);
}
.contents3 > div:last-child {
	margin-right: 0;
}
.contents31 {
	background-image: url("../images/contents3/board111.png");
	transition-delay: 0.8s;
}
.contents32 {
	background-image: url("../images/contents3/board222.png");
	transition-delay: 0.6s;
}
.contents33 {
	background-image: url("../images/contents3/board333.png");
	transition-delay: 0.4s;
}
.contents34 {
	background-image: url("../images/contents3/board444.png");
	transition-delay: 0.2s;
}
.contents35 {
	background-image: url("../images/contents3/board555.png");
}

/*******************************************
 * contents4
 */
.contents4 {
	clear: both;
	height: 350px;
	background: #eee;
	position: relative;
	transition: background 0.8s;
	clear: both;
	overflow: hidden;
	color: #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.contents4:hover {
	background: #aaa;
}

.contents4 > h3 {
	text-align: center;
	font: bold 40px/350px "Rock Salt";
	transition: color 0.3s 0.3s;
}
.contents4 > img {
	position: absolute;
	opacity: 0.6;
}
.contents4 > img:nth-child(2) {
	width: 250px;
	top: 100px;
	right: 0;
}
.contents4 > img:nth-child(3) {
	width: 260px;
	top: 120px;
	left: 280px;
}
.contents4 > img:nth-child(4) {
	width: 180px;
	top: 30px;
	right: 325px;
	opacity: 0.4;
}
.contents4 > img:nth-child(5) {
	width: 120px;
	bottom: 10px;
	right: 500px;
}
.contents4 > img:nth-child(6) {
	width: 120px;
	top: 10px;
	left: 640px;
	transform: rotate(80deg);
}
.contents4 > img:nth-child(7) {
	width: 50px;
	top: 40px;
	left: 110px;
}
.contents4 > img:nth-child(8) {
	width: 150px;
	bottom: 20px;
	left: -40px;
}
/*******************************************
 * contents5
 */
.contents5-wrap {
	background: #fff;
	padding: 100px 0px;
}
.contents5 {
	margin: 0 auto;
	width: 70%;
	opacity: 0;
	transition: opacity 4s, top 2s;
	position: relative;
	top: 300px;
}
.contents5-action {
	opacity: 1;
	top: 0;
}
.contents5 > iframe {
	width: 100%;
	height: 700px;
}

/*미디어쿼리*********************/
@media screen and (min-width:800px) and (max-width:1279px) {
/**/
.visual1 > h2 {
  font-size: 60px;
}
/**/	
.contents1-wrap {
	padding: 130px 0px;
}
.contents1 {
	width: 575px;
}
.contents1 > .image {
	width: 180px;
	height: 180px;
	margin: 5px;
}
.contents1 > div:nth-child(1) {
	background-image: url("../images/contents1/content1-1.jpg");
}
.contents1 > div:nth-child(2) {
	background: #fff;
}
.contents1 > div:nth-child(3) {
	background-image: url("../images/contents1/content1-3.jpg");
}
.contents1 > div:nth-child(4) {
	background: #fff;
}
.contents1 > div:nth-child(5) {
	background-image: url("../images/contents1/content1-5.jpg");
}
.contents1 > div:nth-child(6) {
	background-image: url("../images/contents1/content1-6.jpg");
}
.contents1 > div:nth-child(7) {
	background-image: url("../images/contents1/content1-7.jpg");
}
.contents1 > div:nth-child(8) {
	background-image: url("../images/contents1/content1-4.jpg");
	transition-delay: 0.4s;
}
.contents1 > div:nth-child(9) {
	background: #fff;
}
.contents1 > div:nth-child(10),
.contents1 > div:nth-child(11),
.contents1 > div:nth-child(12) {
	display: none;
}
/**/
.contents2 > img {
	height:100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.7;
}
/**/
.contents3 {
	width: 800px;
}
.contents3-motion {
	width: 130px;
	height: 400px;
	margin-right: 30px;
	opacity: 0.75;
	background-size: cover;
}
.contents3-motion-action {
	transform: translateX(0%) rotateY(0deg);
}
.contents3 > div:last-child { /*왜클레스로는 안되지*/
	margin-right: 0;
}
.contents31 {
	background-image: url("../images/contents3/board111.png");
	transition-delay: 0.8s;
}
.contents32 {
	background-image: url("../images/contents3/board222.png");
	transition-delay: 0.6s;
}
.contents33 {
	background-image: url("../images/contents3/board333.png");
	transition-delay: 0.4s;
}
.contents34 {
	background-image: url("../images/contents3/board444.png");
	transition-delay: 0.2s;
}
.contents35 {
	background-image: url("../images/contents3/board555.png");
}

/**/
.contents4 > img:nth-child(2) {
	width: 230px;
	top: 180px;
}
.contents4 > img:nth-child(3) {
	width: 240px;
	top: 130px;
	left: 60px;
}
.contents4 > img:nth-child(4) {
	width: 170px;
	top: -10px;
	right: 190px;
}
.contents4 > img:nth-child(5) {
	width: 100px;
}
.contents4 > img:nth-child(6) {
	display: none;
}
.contents4 > img:nth-child(7) {
	left: 300px;
}
.contents4 > img:nth-child(8) {
	width: 130px;
	bottom: 15px;
	left: -35px;
}
/**/
.contents5 {
	width: 75%;
}
.contents5 > iframe {
	height: 520px;
}
}
