/***************************************************
 * history
 */
.header {
	background: transparent;
}
.htr-visual {
	height: 230px;
	background: #344761;
	position: relative;
	top: -70px;
	z-index: -1;
}
.htr-visual-title {
	font-size: 20px;
	font-family: "Rock Salt";
	letter-spacing: 15px;
	position: absolute;
	text-align: center;
	left: calc(50% - 155px);
	bottom: 0;
	color: #fff;
	z-index: 2;
}
.htr-contents1,
.htr-contents2,
.htr-contents3,
.htr-contents4 {
	margin-bottom: 80px;
	position: relative;
	overflow: hidden;
}
.htr-contents1-tltie,
.htr-contents2-tltie,
.htr-contents3-tltie,
.htr-contents4-tltie {
	font-family: "Rock Salt";
	font-size: 60px;
	color: #0a4a77;
	margin: 0 5%;
	opacity: 0;
	transition: transform 1.5s 0.5s, opacity 1.5s;
}

.htr-contents12, .htr-contents22,
.htr-contents32, .htr-contents42 {
	font: 19px/ 1.4 "NanumBarunpen";
	margin: 0 auto;
	transition: transform 1.5s, opacity 1.5s;
	opacity: 0;
	transform: translateY(150px);
}
.htr-contents11, 
.htr-contents21, 
.htr-contents31, 
.htr-contents41 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 1.5s, opacity 1.5s;
	opacity: 0;
	transform: translateY(150px);
}
.htr-contents12 > span,
.htr-contents22 > span,
.htr-contents32 > span,
.htr-contents42 > span {
	font-size: 1.3em;
	line-height: 1.1;
}
.htr-contents12-action, 
.htr-contents21-action, .htr-contents22-action, 
.htr-contents31-action, .htr-contents32-action, 
.htr-contents41-action, .htr-contents42-action {
	transform: translateX(0px);
	opacity: 1;
}
.htr-contents1 {
	margin-top: -70px;
}
.htr-contents1-tltie {
	text-align: right;
	opacity: 1;
	transform: translateX(150px);
}
.htr-contents1-tltie-action {
	transform: translateX(0px);
}
.htr-contents11 {
	height: 350px;
	background-image: url("../images/history/htr-con1.jpg");
	opacity: 0.8;
	transform: translateY(0px);
}
.htr-contents12 {
	width: 80%;
	bottom: -100px;
}

.htr-contents2-tltie {
	transform: translateX(-150px);
}
.htr-contents2-tltie-action {
	transform: translateX(0px);
	opacity: 1;
}
.htr-contents21 {
	width: 100%;
	height: 240px;
	background-image: url("../images/history/htr-con2.jpg");
	background-position: bottom;
	bottom: -100px;
}

.htr-contents22 {
	width: 80%;
	bottom: -100px;
	transition-delay: 0.8s;
}
.htr-contents3-tltie {
	text-align: right;
	transform: translateX(150px);
}
.htr-contents3-tltie-action {
	transform: translateX(0px);
	opacity: 1;
}
.htr-contents31 {
	height: 450px;
	background-image: url("../images/history/htr-con3.jpg");
	bottom: -100px;
}
.htr-contents32 {
	width: 80%;
	bottom: -100px;
	transition-delay: 0.8s;
}
.htr-contents4-tltie {
	transform: translateX(-150px);
}
.htr-contents4-tltie-action {
	transform: translateX(0px);
	opacity: 1;
}
.htr-contents41 {
	height: 250px;
	background-image: url("../images/history/htr-con4.jpg");
	bottom: -100px;
}
.htr-contents42 {
	width: 80%;
	margin-bottom: 50px;
	bottom: -100px;
	transition-delay: 0.8s;
}



/***************************************************
 * dancing&trick
 */
.DnT-visual {
	height: 230px;
	background: #9c3415;
	position: relative;
	top: -70px;
	z-index: -1;
	margin-bottom: 80px;
}
.DnT-visual-title {
	font-size: 20px;
	font-family: "Rock Salt";
	letter-spacing: 8px;
	position: absolute;
	text-align: center;
	left: calc(50% - 168px);
	bottom: 10px;
	color: #fff;
}
.DnT-tabs {
  width: 100%;
  margin: 10px auto;
}
.DnT-tabs > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #9c3415;
  margin-bottom: 50px;
}
.DnT-tabs > ul > li {
  display: inline-block;
  border-left: 1px solid #9c3415;
  border-top: 1px solid #9c3415;
  border-right: 1px solid #9c3415;
}
.DnT-tabs > ul > li > span {
  display: inline-block;
  width: 150px;
  background: #9c3415;
  text-decoration: none;
  font-size: 20px;
  font-family: "Rock Salt";
  color: #fff;
}
.DnT-tabs > ul > li.select {
  border-bottom: 1px solid #fff;
  background: #fff;
  margin-bottom: -1px;
}
.DnT-tabs > ul > li.select > span {
  background: #fff;
  color: #000;
}
.DnT-tabs > .DnT-tab-hidden {
  display: none;
}
/**/
.DnT-tab-contents1, 
.DnT-tab-contents2,
.DnT-tab-contents3, 
.DnT-tab-contents4 {
    margin-bottom: 80px;
    transition: opacity 2.5s;
	opacity: 0;
}
.DnT-tab-contents1-action,
.DnT-tab-contents2-action,
.DnT-tab-contents3-action,
.DnT-tab-contents4-action {
	opacity: 1;
}
.DnT-tab-contents11, 
.DnT-tab-contents21, 
.DnT-tab-contents31, 
.DnT-tab-contents41 {
	width: 300px;
	font-family: "Rock Salt";
	margin: 0 auto;
	margin-bottom: 20px;
}

.DnT-tab-contents11 > h2, 
.DnT-tab-contents21 > h2, 
.DnT-tab-contents31 > h2, 
.DnT-tab-contents41 > h2 {
	font-size: 30px;
	color: #ba310b;
	margin-bottom: 10px;
	white-space: nowrap;
}
.DnT-tab-contents11 > p, 
.DnT-tab-contents21 > p, 
.DnT-tab-contents31 > p, 
.DnT-tab-contents41 > p {
	font-size: 18px;
	line-height: 1.3;
	font-family: "NanumBarunpen";
}
.DnT-tab-contents12,
.DnT-tab-contents22,
.DnT-tab-contents32,
.DnT-tab-contents42 {
	position: relative;
}
#tab1 .DnT-tab-contents12 {
	background-image: url("../images/DnT/DnT1.jpg");
}
#tab1 .DnT-tab-contents22 {
	background-image: url("../images/DnT/DnT2.jpg");
}
#tab1 .DnT-tab-contents32 {
	background-image: url("../images/DnT/DnT3.jpg");
}
#tab1 .DnT-tab-contents42 {
	background-image: url("../images/DnT/DnT4.jpg");
}
#tab2 .DnT-tab-contents12 {
	background-image: url("../images/DnT/DnT11.jpg");
}
#tab2 .DnT-tab-contents22 {
	background-image: url("../images/DnT/DnT22.jpg");
}
#tab2 .DnT-tab-contents32 {
	background-image: url("../images/DnT/DnT33.jpg");
}
#tab2 .DnT-tab-contents42 {
	background-image: url("../images/DnT/DnT44.jpg");
}
.DnT-tab-contents12::after,
.DnT-tab-contents22::after,
.DnT-tab-contents32::after,
.DnT-tab-contents42::after {
	content: "view";
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	font-size: 18px;
	line-height: 100px;
	font-family: "Rock Salt";
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
}

/*turn*/
.turn {
  width: 300px;
  height: 300px;
  perspective: 1500px;
  margin: 0 auto;
 }
.turn video {
  width: 300px;
  height: 300px;
}
.turn-item{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.item-face {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
.item-face-back {
  transform: rotateY(180deg);
}
.turn-item.toggle {
  transform: rotateY(180deg);
}
.turn-item.toggle .item-face::after {
	display: none;
}


/***************************************************
 * place to ride
 */
.ptr-visual {
	height: 230px;
	background: #9a9a5c;
	position: relative;
	top: -70px;
	z-index: -1;
	margin-bottom: 80px;
}
.ptr-visual-title {
	font-size: 20px;
	font-family: "Rock Salt";
	letter-spacing: 8px;
	position: absolute;
	text-align: center;
	left: calc(50% - 150px);
	bottom: 10px;
	color: #fff;
}

.ptr-contents1,
.ptr-contents2,
.ptr-contents3 {
	width: 85%;
	margin: 0 auto;
	transition: opacity 2.5s, transform 1s;
	opacity: 0;
	transform-origin: 0% 0%;
	transform: rotate(15deg);
}
.ptr-contents1-action,
.ptr-contents2-action,
.ptr-contents3-action,
.ptr-contents4-action {
	transform: rotate(0deg);
	opacity: 1;
}
.ptr-contents11,
.ptr-contents21,
.ptr-contents31 {
}
.ptr-contents11 > h2,
.ptr-contents21 > h2, 
.ptr-contents31 > h2 {
	font-size: 30px;
	font-family: "Rock Salt", "NanumBarunpen";
	position: relative;
}
.ptr-contents11 > h2:after,
.ptr-contents21 > h2:after,
.ptr-contents31 > h2:after {
	content: "(X-Game Park)";
	font-size: 30px;
	font-family: "Rock Salt", "NanumBarunpen";
	position: absolute;
	top: 30px;
	left: 0px;
	color: #eee;
	z-index: -1;
	
}
.ptr-contents21 > h2:after {
	content: "(Skate Park)";
}
.ptr-contents11 > p,
.ptr-contents21 > p, 
.ptr-contents31 > p {
	font-size: 20px;
	font-family: "NanumBarunpen";
	margin-top: 50px;
}
.ptr-contents12,
.ptr-contents22,
.ptr-contents32 {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 120px;
}

/***************************************************
 * Components
 */
.cpt-visual {
	height: 230px;
	background: #756b65;
	position: relative;
	top: -70px;
	z-index: -1;
	margin-bottom: 30px;
}
.cpt-visual-title {
	font-size: 20px;
	font-family: "Rock Salt";
	letter-spacing: 8px;
	position: absolute;
	text-align: center;
	left: calc(50% - 130px);
	bottom: 10px;
	color: #fff;
}
.cpt-contents1 {
	width: 320px;
	height: 160px;
	margin: 0 auto;
	background: url("../images/cpt/board.jpg") no-repeat top center;
	background-size: cover;
	margin-bottom: 50px;
}
.cpt-list {
  width: 100%;
}
.cpt-list > dt {
  border-bottom: 1px solid #ccc;
}
.cpt-list > dt > h3 {
	font-size: 25px;
	font-family: "Rock Salt";
	text-align: center;
	padding: 5px 0;
}
.cpt-list > dt > h3::before {
  display: inline-block;
  margin-right: 3px;
  transition: transform 400ms;
}
.cpt-list > dt > h3.change {
	text-decoration: line-through;
}
.cpt-list > dd {
  display: none;
}
.cpt-list-contents {
	width: 85%;
	margin: 0 auto;
	padding: 50px 0 50px;
}
.cpt-list-contents1 {
	margin: 0 auto;
	width: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.cpt-list-contents1-deck {
	width: 190px;
	height: 290px;
	background-image: url("../images/cpt/deck.jpg");
}
.cpt-list-contents1-hardware {
	background-image: url("../images/cpt/hardware.jpg");
	height: 170px;
}
.cpt-list-contents1-truck {
	background-image: url("../images/cpt/truck.jpg");
	height: 110px;
}
.cpt-list-contents1-wheel {
	background-image: url("../images/cpt/wheel.jpg");
	height: 200px;
}
.cpt-list-contents1-bearing {
	background-image: url("../images/cpt/bearing.jpg");
	height: 170px;
}
.cpt-list-contents2 {
	margin-top: 30px;
	font-size: 18px;
	font-family: "NanumBarunpen";
	line-height: 1.5;
}
.cpt-list-contents2 > p {
	margin-bottom: 15px;
}
.cpt-list-contents2 > ul {
	list-style: circle;
	margin-left: 30px;
	font-size: 16px;
}
.cpt-list-contents2  span {
	font-weight: bold; 
}
.footer {
	    clear: both;
}
