
/***************************************************
 * history
 */
.htr-visual {
	height: 50vh;
	background: #344761;
	position: relative;
	top: -140px;
	z-index: -1;
	padding-top: 50px;
}
.htr-visual-title {
	font-size: 40px;
	font-family: "Rock Salt";
	letter-spacing: 30px;
	position: absolute;
	left: calc(50% - 317px);
	bottom: 0;
	color: #fff;
	z-index: 2;
	text-align: center;
}

.htr-contents1, .htr-contents2,
.htr-contents3, .htr-contents4 {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 250px;
	overflow: hidden;
	position: relative;
}
.htr-contents11,
.htr-contents21,
.htr-contents31,
.htr-contents41 {
	opacity: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 1.5s, opacity 2s;
}
.htr-contents12,
.htr-contents22,
.htr-contents32,
.htr-contents42 {
	opacity: 0;
	font: 22px/ 1.6 "NanumBarunpen";
	transition: transform 1.5s, opacity 2s;
	transform: translateY(100px);
}
.htr-contents12-action,
.htr-contents22-action,
.htr-contents32-action,
.htr-contents42-action {
	opacity: 1;	
	transform: translateY(0px);
}
.htr-contents12 > span,
.htr-contents22 > span,
.htr-contents32 > span,
.htr-contents42 > span {
	font-size: 1.3em;
	line-height: 1.1;
}
.htr-contents1 > h2,
.htr-contents2 > h2,
.htr-contents3 > h2,
.htr-contents4 > h2  {
	position: absolute;
	font-family: "Rock Salt";
	font-size: 120px;
	color: #0a4a77;
}
.htr-contents1 {
	margin-top: 100px;
}
.htr-contents1 > h2 {
	top: 0px;
	left: 50px;
}
.htr-contents11 {
	width: 39%;
	height: 650px;
	background-image: url("../images/history/htr-con1.jpg");
	float: right;
	transform: translateX(100px);
}
.htr-contents11-action {
	opacity: 1;	
	transform: translateX(0px);
}
.htr-contents12 {
	width: 55%;
	margin-right: 5%;
	margin-top: 420px;
	padding-left: 15%;
	float: right;
}
.htr-contents21 {
	width: 55%;
	height: 400px;
	background-image: url("../images/history/htr-con2.jpg");
	margin-right: 5%;
	float: left;
	transform: translateX(-100px);
}
.htr-contents21-action {
	opacity: 1;
	transform: translateX(0px);	
}
.htr-contents2 > h2 {
	top: -60px;
	right: 5px;
}
.htr-contents22 {
	width: 39%;
	float: left;
	margin-top: 240px;
}
.htr-contents3 > h2 {
	top: 0px;
	left: 0px;
}
.htr-contents31 {
	width: 39%;
	height: 650px;
	background-image: url("../images/history/htr-con3.jpg");
	float: right;
	transform: translateX(100px);
}

.htr-contents31-action {
	opacity: 0.8;	
	transform: translateX(0px);
}
.htr-contents32 {
	width: 55%;
	margin-right: 5%;
	padding-left: 15%;
	float: right;
	margin-top: 410px;
}

.htr-contents4 > h2 {
	top: -70px;
	right: -5px;
}
.htr-contents41 {
	width: 55%;
	height: 400px;
	background-image: url("../images/history/htr-con4.jpg");
	margin-right: 5%;
	filter: grayscale(50%);
	float: left;
	transform: translateX(-100px);
}
.htr-contents41-action {
	opacity: 0.7;
	transform: translateX(0px);
}
.htr-contents42 {
	width: 39%;
	float: left;
	margin-top: 260px;
}

/***************************************************
 * dancing&trick
 */

.DnT-visual {
	height: 50vh;
	background: #9c3415;
	position: relative;
	top: -140px;
	margin-bottom: 100px;
	z-index: -1;
}
.DnT-visual-title {
	font-size: 40px;
	font-family: "Rock Salt";
	letter-spacing: 30px;
	position: absolute;
	left: calc(50% - 445px);
	bottom: 20px;
	color: #fff;
}
.DnT-tabs {
  width: 100%;
  margin: 0 auto;
}
.DnT-tabs > ul {
  list-style: none;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #9c3415;
  margin-bottom: 50px;
}
.DnT-tabs > ul > li {
  display: inline-block;
  border-left: 1px solid #9c3415;
  border-top: 1px solid #9c3415;
  border-right: 1px solid #9c3415;
}
.DnT-tabs > ul > li > span {
  display: inline-block;
  width: 350px;
  background: #9c3415;
  text-decoration: none;
  font-size: 30px;
  font-family: "Rock Salt";
  color: #fff;
  cursor: pointer;
}
.DnT-tabs > ul > li.select {
  border-bottom: 1px solid #fff;
  background: #fff;
  margin-bottom: -1px;
  margin-top: -5px;
}
.DnT-tabs > ul > li.select > span {
  background: #fff;
  color: #000;
}
.DnT-tabs > .DnT-tab-hidden {
  display: none;
}
/**/
.DnT-tab-contents {
	padding-top: 100px;
}
.DnT-tab-contents1, 
.DnT-tab-contents2,
.DnT-tab-contents3, 
.DnT-tab-contents4 {
	margin: 0 auto;
	width: 1250px;
	height: 600px;
	margin-bottom: 180px;
	clear: both;
	transition: opacity 2.5s;
	opacity: 0;
}
.DnT-tab-contents1-action,
.DnT-tab-contents2-action,
.DnT-tab-contents3-action,
.DnT-tab-contents4-action {
	opacity: 1;
}
.DnT-tab-contents11, 
.DnT-tab-contents21, 
.DnT-tab-contents31, 
.DnT-tab-contents41 {
	width: 550px;
	margin-right: 100px;
	margin-top: 350px;
	font-family: "Rock Salt";
	float: left;
}
#tab2 .DnT-tab-contents41 {
	margin-top: 200px;
}
.DnT-tab-contents21, .DnT-tab-contents22, 
.DnT-tab-contents41, .DnT-tab-contents42 {
	float: right;
}
.DnT-tab-contents21, 
.DnT-tab-contents41 {
	margin-right: 0px;
	margin-left: 100px; 
}
.DnT-tab-contents11 > h2, 
.DnT-tab-contents21 > h2, 
.DnT-tab-contents31 > h2, 
.DnT-tab-contents41 > h2 {
	font-size: 50px;
	color: #ba310b;
	margin-bottom: 20px;
}
.DnT-tab-contents11 > p, 
.DnT-tab-contents21 > p, 
.DnT-tab-contents31 > p, 
.DnT-tab-contents41 > p {
	font-size: 22px;
	line-height: 1.3;
	font-family: "NanumBarunpen";
}
.DnT-tab-contents12, 
.DnT-tab-contents22, 
.DnT-tab-contents32, 
.DnT-tab-contents42 {
	width: 600px;
	height: 600px;
	float: left;
}
#tab1 .DnT-tab-contents12 {
	background-image: url("../images/DnT/DnT1.jpg");
}
#tab1 .DnT-tab-contents22 {
	background-image: url("../images/DnT/DnT2.jpg");
}
#tab1 .DnT-tab-contents32 {
	background-image: url("../images/DnT/DnT3.jpg");
}
#tab1 .DnT-tab-contents42 {
	background-image: url("../images/DnT/DnT4.jpg");
}
#tab2 .DnT-tab-contents12 {
	background-image: url("../images/DnT/DnT11.jpg");
}
#tab2 .DnT-tab-contents22 {
	background-image: url("../images/DnT/DnT22.jpg");
}
#tab2 .DnT-tab-contents32 {
	background-image: url("../images/DnT/DnT33.jpg");
}
#tab2 .DnT-tab-contents42 {
	background-image: url("../images/DnT/DnT44.jpg");
}
.DnT-tab-contents12::after,
.DnT-tab-contents22::after,
.DnT-tab-contents32::after,
.DnT-tab-contents42::after {
	content: "view";
	width: 150px;
	height: 150px;
	border: 2px solid #fff;
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 75px);
	font-size: 25px;
	line-height: 150px;
	font-family: "Rock Salt";
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
	transition: all 0.5s;
}
.turn-item:hover .DnT-tab-contents12::after,
.turn-item:hover .DnT-tab-contents22::after,
.turn-item:hover .DnT-tab-contents32::after,
.turn-item:hover .DnT-tab-contents42::after {
	background: rgba(255, 255, 255, 0.8);
	border: 2px solid #000;
	font-size: 35px;
	cursor: pointer;
}
/*turn*/
.turn {
  width: 600px;
  height: 600px;
  perspective: 1500px;
  float: left;
}
.turn-item{
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.item-face {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  line-height: 300px;
  text-align: center;
  font-size: 30px;
  background-size: cover;
  background-position: center;
}
.item-face-back {
  transform: rotateY(180deg);
}
.turn-item.toggle {
  transform: rotateY(180deg);
}
.turn-item.toggle .item-face::after {
	display: none;
}

/***************************************************
 * place to ride
 */
.ptr-visual {
	height: 50vh;
	background: #9a9a5c;
	position: relative;
	top: -140px;
	margin-bottom: 100px;
	z-index: -1;
}
.ptr-visual-title {
	font-size: 40px;
	font-family: "Rock Salt";
	letter-spacing: 30px;
	position: absolute;
	left: calc(50% - 390px);
	bottom: 20px;
	color: #fff;
}
.ptr-contents1,
.ptr-contents2,
.ptr-contents3 {
	overflow: hidden;
	width: 85%;
	margin: 0 auto;
	transition: opacity 2.5s, transform 1.5s;
	opacity: 0;
	transform-origin: 0% 0%;
	transform: rotate(10deg);
}
.ptr-contents1-action,
.ptr-contents2-action,
.ptr-contents3-action,
.ptr-contents4-action {
	transform: rotate(0deg);
	opacity: 1;
}
.ptr-contents11,
.ptr-contents21,
.ptr-contents31 {
	width: 50%;
	float: left;
}
.ptr-contents11 > h2,
.ptr-contents21 > h2, 
.ptr-contents31 > h2 {
	font-size: 45px;
	font-family: "NanumBarunpen";
	position: relative;
}
.ptr-contents11 > h2:after,
.ptr-contents21 > h2:after,
.ptr-contents31 > h2:after {
	content: "(X-Game Park)";
	font-size: 55px;
	font-family: "Rock Salt";
	position: absolute;
	top: 30px;
	left: 30px;
	color: #eee;
	z-index: -1;
}
.ptr-contents21 > h2:after {
	content: "(Skate Park)";
}
.ptr-contents11 > p,
.ptr-contents21 > p, 
.ptr-contents31 > p {
	font-size: 25px;
	font-family: "NanumBarunpen";
	margin-top: 150px;
	margin-right: 80px;
}
.ptr-contents12,
.ptr-contents22,
.ptr-contents32 {
	width: 50%;
	height: 400px;
	float: left;
	overflow: hidden;
	margin-bottom: 200px;
}

/***************************************************
 * Components
 */
.cpt-visual {
	height: 50vh;
	background: #756b65;
	position: relative;
	top: -140px;
	margin-bottom: 30px;
	z-index: -1;
}
.cpt-visual-title {
	font-size: 40px;
	font-family: "Rock Salt";
	letter-spacing: 30px;
	position: absolute;
	left: calc(50% - 330px);
	bottom: 20px;
	color: #fff;
}
.cpt-contents1 {
	width: 650px;
	height: 350px;
	margin: 0 auto;
	background: url("../images/cpt/board.jpg") no-repeat top center;
	background-size: cover;
	margin-bottom: 100px;
}

.cpt-list {
  width: 100%;
}
.cpt-list > dt {
  border-bottom: 1px solid #ccc;
}
.cpt-list > dt > h3 {
	font-size: 40px;
	font-family: "Rock Salt", "NanumBarunpen";
	text-align: center;
	padding: 10px 0;
}
.cpt-list > dt > h3.change {
	text-decoration: line-through;
}
.cpt-list > dt > h3:hover {
	cursor: pointer;
}
.cpt-list > dt > h3::before {
  display: inline-block;
  margin-right: 3px;
  transition: transform 400ms;
}
.cpt-list > dd {
  display: none;
}

.cpt-list-contents {
	overflow: hidden;
	width: 75%;
	margin: 0 auto;
	padding: 50px 0 50px;
		
}
.cpt-list-contents1 {
	width: 30%;
	height: 600px;
	float: left;
	margin-right: 10%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: calc(100vw / 4.4);
}
.cpt-list-contents1-deck {
	background-image: url("../images/cpt/deck.jpg");
}
.cpt-list-contents1-hardware {
	background-image: url("../images/cpt/hardware.jpg");
	height: 350px;
}
.cpt-list-contents1-truck {
	background-image: url("../images/cpt/truck.jpg");
	height: 190px;
	margin-top: 80px;
}
.cpt-list-contents1-wheel {
	background-image: url("../images/cpt/wheel.jpg");
	height: 350px;
	margin-top: 50px;
}
.cpt-list-contents1-bearing {
	background-image: url("../images/cpt/bearing.jpg");
	height: 350px;
}
.cpt-list-contents2 {
	width: 60%;
	float: left;
	margin-top: 50px;
	font-size: 25px;
	font-family: "NanumBarunpen";
	line-height: 1.6;
}
.cpt-list-contents2 > p {
	margin-bottom: 30px;
}
.cpt-list-contents2 > ul {
	list-style: circle;
	margin-left: 50px;
	font-size: 20px;
}
.cpt-list-contents2  span {
	font-weight: bold; 
}

/************************************************************************************/
@media screen and (min-width:800px) and (max-width:1279px) {
/**/
.htr-contents1 > h2,
.htr-contents2 > h2,
.htr-contents3 > h2,
.htr-contents4 > h2  {
	font-size: 90px;
}
.htr-contents12, .htr-contents22,
.htr-contents32, .htr-contents42 {
	font-size: 20px;
}
/**/

.htr-contents11 {
	height: 600px;
}
.htr-contents12 {
	padding-left: 0%;
}
/**/
.htr-contents2 > h2 {
	top: -50px;
}
.htr-contents21 {
	height: 450px;
}
/**/
.htr-contents31 {
	height: 600px;
}
.htr-contents32 {
	padding-left: 0%;
}
/**/
.htr-contents4 > h2 {
	top: -50px;
}
.htr-contents41 {
	height: 450px;
	margin-right: 5%;
}


/***************************************************
 * dancing&trick
 */
/**/
.turn {
  width: 410px;
  height: 410px;
}
.turn video {
	
  width: 410px;
  height: 410px;
}
.DnT-visual {
  margin-bottom: 50px;
}
.DnT-visual-title {
	font-size: 30px;
	letter-spacing: 20px;
	left: calc(50% - 315px);
}
.DnT-tabs > ul > li > span {
  width: 300px;
}
.DnT-tab-contents1, 
.DnT-tab-contents2,
.DnT-tab-contents3, 
.DnT-tab-contents4 {
	width: 780px;
	height: 400px;
}
.DnT-tab-contents11, 
.DnT-tab-contents21, 
.DnT-tab-contents31, 
.DnT-tab-contents41 {
	width: 310px;
	margin-right: 60px;
	margin-top: 180px;
}
.DnT-tab-contents21, 
.DnT-tab-contents41 {
	margin-right: 0px; 
	margin-left: 60px; 
}
.DnT-tab-contents11 > h2, 
.DnT-tab-contents21 > h2, 
.DnT-tab-contents31 > h2, 
.DnT-tab-contents41 > h2 {
	font-size: 30px;
	white-space: nowrap;
	margin-bottom: 10px;
}
.DnT-tab-contents11 > p, 
.DnT-tab-contents21 > p, 
.DnT-tab-contents31 > p, 
.DnT-tab-contents41 > p {
	font-size: 19px;
}
.DnT-tab-contents12, 
.DnT-tab-contents22, 
.DnT-tab-contents32, 
.DnT-tab-contents42 {
	width: 410px;
	height: 410px;
}
/***************************************************
 * place to ride
 */
.ptr-visual {
  margin-bottom: 50px;
}
.ptr-visual-title {
	font-size: 30px;
	letter-spacing: 20px;
	left: calc(50% - 267px);
}
.ptr-contents11 > h2,
.ptr-contents21 > h2, 
.ptr-contents31 > h2 {
	font-size: 35px;
}
.ptr-contents11 > h2:after,
.ptr-contents21 > h2:after,
.ptr-contents31 > h2:after {
	font-size: 35px;
	top: 40px;
	left: 0;
}
.ptr-contents11 > p,
.ptr-contents21 > p, 
.ptr-contents31 > p {
	font-size: 20px;
	margin-top: 180px;
	margin-right: 50px;
}

/***************************************************
 * Components
 */
.cpt-visual {
  margin-bottom: 50px;
}
.cpt-visual-title {
	font-size: 30px;
	letter-spacing: 20px;
	left: calc(50% - 235px);
}
.cpt-list-contents {
	width: 85%;
}
.cpt-list-contents1 {
	width: 35%;
	height: 600px;
	margin-right: 5%;
	background-size: calc(100vw / 3.3);
}
.cpt-list-contents1-deck {
	height: 450px;
	margin-top: 20px;
	background-size: calc(100vw / 4);
}
.cpt-list-contents1-hardware {
	height: 250px;
	margin-top: 50px;
}
.cpt-list-contents1-truck {
	height: 170px;
	margin-top: 50px;
}
.cpt-list-contents1-wheel {
	height: 280px;
}
.cpt-list-contents1-bearing {
	height: 230px;
}
.cpt-list-contents2 {
	margin-top: 50px;
	font-size: 20px;
	line-height: 1.4;
}

.cpt-list-contents2 > p {
	margin-bottom: 20px;
}
.cpt-list-contents2 > ul {
	margin-left: 50px;
	font-size: 18px;
}
}