/* Web Fonts 정의 */
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@font-face { font-family: 'NanumBarunpen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff'); font-weight: normal; font-style: normal; }
/* 초기화 CSS */
* {box-sizing: border-box;margin: 0;padding: 0;}
body {margin: 0;}
ul {list-style: none;}
a:link, a:visited {text-decoration: none;color: #000;}

/*모바일*/
.header {background:#fff;}
@media screen and (max-width: 800px) {
	.header {width: 100%;position: relative;}
	.header-logo {width: 130px;height: 70px;background: url("../images/logoblack3.png") no-repeat center;background-size: cover;}
	.header > input {display: none;}
	.header > label {display: inline-block;position: fixed;width: 30px;height: 30px;top: 25px;right: 25px;z-index: 99999;}
	.header > label > *,
	.header > label::before,
	.header > label::after,
	.header-navi {transition: 400ms;position: relative;}
	.header > label::before {content: "";position: absolute;top: 6px;left: 0;width: 30px;height: 3px;background: #000;transform-origin: 14% 50%;}
	.header > label > span {display: inline-block;position: absolute;left: 0;top: 14px;width: 30px;height: 3px;background: #000;}
	.header > label::after {content: "";position: absolute;bottom: 5px;left: 0;width: 30px;height: 3px;background: #000;transform-origin: 10% 50%;}
	.header-navi {position: fixed; top: 0;left: 0;right: 0;   background: #fff;height: 0;overflow: hidden;z-index: 99;}
	.header-navi::after {content: "";display: inline-block;position: absolute;top: 0;right: 0;bottom: 0;width:  430px;background: url("../images/gnb.png");background-size: cover;opacity: 0.3;z-index: -1;}
	.header-navi > ul {position: absolute;top: calc(50% - 180px);left: 5%;}
	.header-navi > ul > li {padding: 10px 0;}
	.header-navi > ul > li > a {font: bold 30px/2 "Rock Salt";}
	.header-navi > ul > li.on > a {text-decoration: line-through;}
	#header-navi-toggle:checked + label > span {width: 0;}
	#header-navi-toggle:checked + label::before {transform: rotate(45deg);}
	#header-navi-toggle:checked + label::after {transform: rotate(-45deg);}
	#header-navi-toggle:checked + label + .header-navi {height: 100vh;z-index: 9999;padding-left: 5%;}
	/*navi animation*/
	#header-navi-toggle:checked + label + .header-navi > ul > li {animation: gnbani 1.5s linear ;animation-fill-mode: both;opacity: 0;}
	#header-navi-toggle:checked + label + .header-navi > ul > li:nth-child(1) {animation-delay: 0.6s;}
	#header-navi-toggle:checked + label + .header-navi > ul > li:nth-child(2) {animation-delay: 0.4s;}
	#header-navi-toggle:checked + label + .header-navi > ul > li:nth-child(3) {animation-delay: 0.2s;}
	@keyframes gnbani {
	  0%{ opacity: 0; }  
	  100% { opacity: 1; }
	}
	/* Footer */
	.footer-wrapper {width: 100%;}
	.footer {width: 100%;margin: 0 auto;text-align: center;border-top: 1px solid #000;background: #eee;padding: 30px;font: 13px/2 "Ubuntu";}
}

@media screen and (min-width: 801px) {
	.header {width: 100%;overflow: hidden;}
	.header-logo {width: 250px;height: 100px;background: url("../images/logoblack3.png") no-repeat center;background-size: cover;margin: 20px 70px;float: left;}
	.header > input {display: none;}
	.header > label {position: fixed;width: 33px;height: 31px;top: 0px;right: 0;margin: 40px;z-index: 99999;float: right;}
	.header > label > *,
	.header > label::before,
	.header > label::after,
	.header-navi {transition: 400ms;position: relative;}
	.header > label::before {content: "";position: absolute;top: 4px;left: 0;width: 33px;height: 3px;background: #000;transform-origin: 2% 50%;}
	.header > label > span {display: inline-block;position: absolute;left: 0;top: 14px;width: 33px;height: 3px;background: #000;}
	.header > label::after {content: "";position: absolute;bottom: 3px;left: 0;width: 33px;height: 3px;background: #000;transform-origin: 10% 50%;}
	.header > label:hover {cursor: pointer;}
	.header-navi {position: fixed; top: 0;left: 0;right: 0;   background: #fff;height: 0;overflow: hidden;z-index: 99;}
	.header-navi::after {content: "";display: inline-block;position: absolute;top: 0;right: 0;bottom: 0;width:  520px;background: url("../images/gnb.png");background-size: cover;opacity: 0.9;z-index: -1;}
	.header-navi > ul {position: absolute;top: calc(50% - 300px);left: 5%;}
	.header-navi > ul > li {padding: 10px 0;}
	.header-navi > ul > li > a {font: bold 50px/2 "Rock Salt";}
	.header-navi > ul > li.on > a {text-decoration: line-through;}
	#header-navi-toggle:checked + label > span {width: 0;}
	#header-navi-toggle:checked + label::before {transform: rotate(45deg);}
	#header-navi-toggle:checked + label::after {transform: rotate(-45deg);}
	#header-navi-toggle:checked + label + .header-navi {height: 100vh;z-index: 9999;padding-left: 5%;}
	/*navi animation*/
	#header-navi-toggle:checked + label + .header-navi > ul > li {animation: gnbani 1.5s linear ;animation-fill-mode: both;opacity: 0;}
	#header-navi-toggle:checked + label + .header-navi > ul > li:nth-child(1) {animation-delay: 0.6s;}
	#header-navi-toggle:checked + label + .header-navi > ul > li:nth-child(2) {animation-delay: 0.4s;}
	#header-navi-toggle:checked + label + .header-navi > ul > li:nth-child(3) {animation-delay: 0.2s;}
	
	@keyframes gnbani {
	  0%{ opacity: 0; }  
	  100% { opacity: 1; }
	}
	/* Footer */
	.footer-wrapper {width: 100%;}
	.footer {width: 100%;margin: 0 auto;border-top: 1px solid #000;text-align: center;padding: 30px;background: #eee;font: 16px/2 "Ubuntu";}
	
}

@media screen and (min-width:800px) and (max-width:1279px) {
.header-navi > ul > li > a {font: bold 43px/2 "Rock Salt";}
.header-navi > img {width: 480px;}
.header-navi > ul {top: calc(50% - 264px);}
}

